.userpage {
  display: flexbox;
  margin-top: 100px;
}

.showuser {
  position: fixed;
  flex-grow: 1;
  margin-top: 100px;
  /* 其他样式属性 */
}

.showuser h1 { /* 修正选择器为 h1，而不是 .h1 */
  margin-top: 100px;
  font-size: 15px;
  /* 其他样式属性 */
}