.sidebar {
  margin-top: 90px;
  width: 145px;
  height: 100%;
  border-radius: 5px;
  position:fixed;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
}

.sidebarLink {
  display: flex;
  flex-direction: column; /* 垂直排列链接 */
  align-items: center;
}

.sidebarLink a {
  display: block; /* 将链接作为块级元素显示 */
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.orderhistory {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderhistory .button {
  width: 50px;
}

.FAQcontent {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.FAQcontent .button {
  width: 50px;
}