.sidebar {
  position: fixed;
    width: 155px;
    height: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
  }
  
  .sidebar button {
    font-size: 23px;
    margin: 21px;
    display: block; /* 将链接作为块级元素显示 */
  }